<form action="{{ url_for('save', page_path=page_path) }}"
      method="post" class="add-entry" id="edit-form">
  <textarea name="page_text" rows="20" cols="80" id="edit-form-textarea">
    {{- page_text -}}
  </textarea>
  <input type="submit" name="save" value="Save" id="edit-form-save" />
  <input type="submit" name="preview" value="Preview" id="edit-form-preview" />
  <input type="submit" name="cancel" value="Cancel" id="edit-form-cancel" />
  <input type="submit" name="delete" value="Delete" id="edit-form-delete" />
</form>
