<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>{{ title }} | NEOrg</title>
    <link rel="stylesheet type=text/css"
          href="{{ url_for('static', filename='html4css1.css') }}" />
    <link rel="stylesheet type=text/css"
          href="{{ url_for('static', filename='style.css') }}" />
    <link rel="shortcut icon"
          href="{{ url_for('favicon') }}" />
  </head>
  <body{% if temp_path %} class="gene"{% endif %}>
    <div class="page">
      {% macro menu() %}
      <div class="page-menu">
        <div class="page-path">
          <a href="/">NEOrg::</a>/
          {%- if page_path -%}
          {%- set page_path_as_list = page_path.split('/') -%}
          {%- for p in page_path_as_list -%}
          <a href="/{{ '/'.join(page_path_as_list[:loop.index]) }}">
            {{- p -}}
          </a>/
          {%- endfor %}
          {% endif %}
          {% if temp_path %}
          (generated)
          {% endif %}
        </div>
        <div class="page-actions">
          <a href="{{ url_for('help', filename='index.html') }}">Help</a> |
          <a href="{{ url_for('history', page_path=page_path) }}">History</a> |
          <a href="{{ url_for('descendants', page_path=page_path) }}">Descendants</a> |
          {% if temp_path %}
          <a href="{{ url_for('edit', page_path=temp_path) }}">Edit Template</a>
          {% else %}
          <a href="{{ url_for('edit', page_path=page_path) }}">Edit</a>
          {% endif %}
        </div>
        <div style="clear: both;"> </div>
      </div>
      {% endmacro %}
      {{ menu() }}
      <div class="contents">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
      </div>
      {{ menu() }}
    </div>
  </body>
</html>
