/* color scheme: #418041 #3D603D #155315 #79BF79 #8CBF8C
 * http://colorschemedesigner.com/#2P11TfLk4w0w0
 */

body {
    background: #E0E0E0;
    font-family: sans-serif;
}

body.gene {
    background: #B8D8B8;
}

a {
    color: #377BA8;
}

.page-path {
    color: #155315;
    font-size: 120%;
    font-family: monospace;
    float: left;
}

.page-actions {
    float: right;
}

h1, h2, h3, h4, h5, h6 {
    color: #155315;
}

h1, h2 {
    font-family: 'Georgia', serif;
    margin: 0;
}

.page {
    margin: 2em auto;
}

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entries li {
    margin: 0.8em 1.2em;
}

.entries li h2 {
    margin-left: -1em;
}

.add-entry {
    border-bottom: 3px solid #8CBF8C;
    margin-bottom: 1em;
    padding-bottom: 1em;
    font-size: 0.9em;
}

.add-entry dl {
    font-weight: bold;
}

.contents {
    background: white;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    padding: 0.8em;
    border-bottom: #8CBF8C 1px solid;
    border-top: #8CBF8C 1px solid;
}

.contents textarea {
    width: 100%;
    height: 100%;
}

.flash {
    background: #CEE5F5;
    border: 1px solid #AACBE2;
    padding: 0.5em;
}

.error {
    background: #F0D6D6;
    padding: 0.5em;
}

.system-messages {
    background: #F0D6D6;
    border: 1px solid #FF0000;
    padding: 0.5em;
}
.system-messages h1 {
    font-family: sans-serif;
    font-size: 150%;
    color: black;
    border-bottom: 1px solid #FF0000;
}
.system-message-title {
    padding: 0.3em;
    background: #FFAAAA;
}
.system-message-title a {
    color: #A60000;
}

.neorg-find-images-image {
    max-width: 100%;
    border: 1px solid #8CBF8C;
}

table.neorg-table {
    border-collapse: collapse;
}

table.neorg-table,
table.neorg-table th,
table.neorg-table td  {
    border: 1px solid #8CBF8C;
}

table.neorg-gene-table {  /* generated table  */
    width: 100%;
}

.neorg-grid-images-image {
    width: 100%;
}

.neorg-grid-images td:first-child {
    vertical-align: middle;
}

.neorg-grid-row {
    width: 1em;
     -moz-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
             filter: progid:DXImageTransform.Microsoft.Matrix(
                     M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, sizingMethod='auto expand');
               zoom: 1;
}
